@using System.Security.Cryptography.X509Certificates
@using Newtonsoft.Json
@model ApplyProcess.Models.ApplyViewModel

<div style="margin-top: 50px; margin-bottom: 50px;">
    @using (Html.BeginForm("DoUpdate", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("applyModel", JsonConvert.SerializeObject(Model))
        @Html.Hidden("questionCount", Model.Interview.Questions.Count)
        @Html.Hidden("currentStep", Model.CurrentStep)

        <p>
            Question @(Model.CurrentStep + 1) of @Model.Interview.Questions.Count
        </p>
        
        <ul>
            @{

                var currentQuestion = Model.Interview.Questions[Model.CurrentStep];
                <li>
                    Title: @currentQuestion.QuestionTitle
                    <br />
                    Text: @currentQuestion.QuestionText
                </li>
            }
        </ul>

        <input type="submit" id="PreviousSubmit" name="Previous" value="Pevious" class="btn btn-default" />
        <input type="submit" id="NextSubmit" name="Next" value="Next" class="btn btn-default" />


    }
</div>
